@model IEnumerable<Service.Models.ItemDetail>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Estoque</th>
        <th>Preço médio de venda</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Item.Product.ProductId</td>
            <td>@c.Item.Product.Name</td>
            <td>@c.Item.Product.Category.Name</td>
            <td>@c.Item.Stock</td>
            <td>@c.AverageSellingPrice</td>
        </tr>
    }
</table>